<div class="mat-headline">
  <h2>Favorites</h2>
</div>
<app-notification></app-notification>

<mat-list>
  <mat-list-item>
    <app-album-card></app-album-card>
  </mat-list-item>
  <mat-list-item>
    <app-album-card></app-album-card>
  </mat-list-item>
  <mat-list-item>
    <app-album-card></app-album-card>
  </mat-list-item>
  <mat-list-item>
    <app-album-card></app-album-card>
  </mat-list-item>
  <mat-list-item>
    <app-album-card></app-album-card>
  </mat-list-item>
  <mat-list-item>
    <app-album-card></app-album-card>
  </mat-list-item>
  <mat-list-item>
    <app-album-card></app-album-card>
  </mat-list-item>
  <mat-list-item>
    <app-album-card></app-album-card>
  </mat-list-item>
  <mat-list-item>
    <app-album-card></app-album-card>
  </mat-list-item>
  <mat-list-item>
    <app-album-card></app-album-card>
  </mat-list-item>
</mat-list>
