:host {
  width: 100%;
  height: 100%;
}

mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;

  img {
    margin: 0 auto !important;
    width: 50%;
  }

  mat-card-content {
    position: absolute;
    visibility: hidden;
    transition: 0.2s ease-in-out;

    mat-card-title {
      color: #7b1fa2;;
    }
  }

  mat-card-actions {
    text-align: center;
  }
}

mat-card:hover mat-card-content {
  visibility: visible;
}


