.mat-headline {
  text-align: center;
  padding-top: 1rem;
}

mat-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  mat-list-item {
    height: auto;
    width: 30%;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    }
}

mat-spinner{
  margin: 0 auto;
  padding-top: 3rem;
}

.spinner-wrapper {
  text-align: center;
}
